numpy
pandas
matplotlib
pycocotools
pygtrie
scikit-learn
submitit
tqdm
torch
torchvision
torchaudio
tensorboard
horovod
transformers
sentence_transformers
accelerate
open_clip_torch[training]
git+https://github.com/facebookresearch/detectron2.git
faiss-gpu
